---
import Layout from '../../layouts/Layout.astro';
import {Image} from 'astro:assets';
import SeoImage from '../../assets/images/home/seo.png';
import Experience from '../../components/Experiences/experience.astro';

const pageTitle = "Mehran Mahmoudi | Skills";
const pageDescription = "I'm pretty comfortable with languages like Tailwind,  JavaScript, Vue.js, and Nuxt.js, and my expertise lies in developing complex user interfaces and optimizing website performance. I also have experience in improving SEO and a basic understanding of UI/UX.";

const experiencesList = [
    {
        id: 1,
        title: 'Paye1.com',
        description: 'In my most recent role, I worked on a project called "Paye Yek", which was developed using Nuxt 3 and Tailwind CSS, with state management handled through Pinia. The project was implemented as both an SSR and SPA, and one of the main challenges was accurately filtering advertisements. Through close collaboration with the technical manager and focused research, we achieved successful results. In addition to optimizing performance and SEO, the project was also designed as a PWA (Progressive Web Application), enabling offline use of the application. I learned how to implement app installation on various devices and laid the groundwork for sending push notifications using Pusher JS as the notification provider. Along with performance and SEO optimization, I delved deeper into Service Workers. This project provided an opportunity to thoroughly familiarize myself with the fundamentals and lifecycle of Service Workers. I was able to apply this technology to deliver a smoother and more efficient user experience. This knowledge and experience enabled me to successfully implement push notification services in the project, thereby enhancing the overall user experience.',
        src: '/assets/projects/paye1Com/fullscreen.webp',
        logo: '/assets/projects/paye1Com/paye1.png',
        link: 'https://paye1.com/',
        techList: [
            {
                id: 1,
                title: 'Vue js',
                icon: '/assets/skills/vue.svg',
            },
            {
                id: 2,
                title: 'Nuxt js',
                icon: '/assets/skills/nuxt.svg',
            },
            {
                id: 3,
                title: 'Pinia',
                icon: '/assets/skills/pinia.svg',
            },
            {
                id: 4,
                title: 'Tailwind CSS',
                icon: '/assets/skills/tailwind.svg',
            },
            {
                id: 5,
                title: 'Headless UI',
                icon: '/assets/skills/headlessui.svg',
            },
        ],
    },
    {
        id: 2,
        title: 'Tehran DJ',
        description: 'This project was my first personal experience where I independently took full responsibility for starting and developing it from scratch to completion. Along the way, I encountered numerous challenges, which I overcame by relying on my research skills and precise error analysis, ultimately completing the project successfully. The project was an e-commerce platform, and the most significant challenges arose in the product filtering and shopping cart management sections. The development began with Nuxt.js version 3, and I used Pinia for state management. For the UI design, I utilized Tailwind CSS and also implemented dark mode functionality. The site was built using SSR (Server-Side Rendering), and currently, the admin panel section is not yet fully deployed. The backend for this project was developed using Laravel.',
        src: '/assets/projects/tehrandj/light.webp',
        logo: '/assets/projects/tehrandj/logo.png',
        link: 'https://front.tehrandj.com/',
        techList: [
            {
                id: 1,
                title: 'Vue js',
                icon: '/assets/skills/vue.svg',
            },
            {
                id: 2,
                title: 'Nuxt js',
                icon: '/assets/skills/nuxt.svg',
            },
            {
                id: 3,
                title: 'Pinia',
                icon: '/assets/skills/pinia.svg',
            },
            {
                id: 4,
                title: 'Tailwind CSS',
                icon: '/assets/skills/tailwind.svg',
            },
        ],
    },
]
---

<Layout title={pageTitle} description={pageDescription}>
    <main class="pt-4 pb-8">
        <!-- breadcrumbs -->
        <div class="">
            <ul class="container flex items-center gap-2 text-gray-100 text-sm font-normal">
                <li class="flex items-center gap-2 cursor-pointer">
                    <a href="/" class=""> Home </a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </li>
                <li class="text-gray-400"> Skills </li>
            </ul>
        </div>

        <!-- skills -->
        <div class="mt-6">
            <ul class="container flex flex-wrap items-center gap-4">
                <!--html-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="HTML">
                    <svg class="h-16 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="m3 2 1.578 17.824L12 22l7.467-2.175L21 2H3Zm14.049 6.048H9.075l.172 2.016h7.697l-.626 6.565-4.246 1.381-4.281-1.455-.288-2.932h2.024l.16 1.411 2.4.815 2.346-.763.297-3.005H7.416l-.562-6.05h10.412l-.217 2.017Z" />
                    </svg>
                </li>
                <!--css-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="CSS">
                    <svg class="h-16 text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="m3 2 1.578 17.834L12 22l7.468-2.165L21 2H3Zm13.3 14.722-4.293 1.204H12l-4.297-1.204-.297-3.167h2.108l.15 1.526 2.335.639 2.34-.64.245-3.05h-7.27l-.187-2.006h7.64l.174-2.006H6.924l-.176-2.006h10.506l-.954 10.71Z" />
                    </svg>
                </li>
                <!--js-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="JAVASCRIPT">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="h-16 fill-yellow-500">
                        <path d="M45.274,2.325C45.084,2.118,44.817,2,44.536,2H5.464C5.183,2,4.916,2.118,4.726,2.325S4.443,2.81,4.468,3.089l3.52,39.427 c0.037,0.412,0.324,0.759,0.722,0.873l16.01,4.573C24.809,47.987,24.902,48,24.994,48s0.185-0.013,0.274-0.038l16.024-4.573 c0.398-0.114,0.685-0.461,0.722-0.873l3.518-39.427C45.557,2.81,45.463,2.532,45.274,2.325z M12,29.004l7,1.942V11h4v26l-11-3.051 V29.004z M38.054,22L37,34.25L27,37v-4.601l6.75-1.855l0.25-3.75L27,28V11h12l-0.345,4H31v8L38.054,22z"></path>
                    </svg>
                </li>
                <!--vue-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="VUE JS">
                    <svg class="h-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <polygon fill="#81c784" points="23.987,17 18.734,8 2.974,8 23.987,44 45,8 29.24,8"></polygon>
                        <polygon fill="#455a64" points="29.24,8 23.987,17 18.734,8 11.146,8 23.987,30 36.828,8"></polygon>
                    </svg>
                </li>
                <!--tailwind-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="TAILWIND CSS">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 54 33" class="h-14">
                        <g clip-path="url(#prefix__clip0)">
                            <path fill="#38bdf8" fill-rule="evenodd" d="M27 0c-7.2 0-11.7 3.6-13.5 10.8 2.7-3.6 5.85-4.95 9.45-4.05 2.054.513 3.522 2.004 5.147 3.653C30.744 13.09 33.808 16.2 40.5 16.2c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C36.756 3.11 33.692 0 27 0zM13.5 16.2C6.3 16.2 1.8 19.8 0 27c2.7-3.6 5.85-4.95 9.45-4.05 2.054.514 3.522 2.004 5.147 3.653C17.244 29.29 20.308 32.4 27 32.4c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C23.256 19.31 20.192 16.2 13.5 16.2z" clip-rule="evenodd"/>
                        </g>
                        <defs>
                            <clipPath id="prefix__clip0">
                                <path fill="#fff" d="M0 0h54v32.4H0z"/>
                            </clipPath>
                        </defs>
                    </svg>
                </li>
                <!--nuxt js-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="NUXT JS">
                    <svg class="h-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" baseProfile="basic">
                        <polygon fill="none" points="26.055,24.519 18.71,37 33.401,37"></polygon>
                        <path fill="none" d="M14.279,36.641l9.455-16.065l-4.653-7.907L4.762,37h9.366C14.178,36.88,14.212,36.756,14.279,36.641	C14.279,36.642,14.279,36.642,14.279,36.641z"></path>
                        <path fill="#1de9b6" d="M14.262,39.569c-0.453-0.792-0.481-1.74-0.134-2.569H4.762l14.319-24.331l4.653,7.907l2.321-3.943	l-4.358-7.404c-0.551-0.937-1.528-1.496-2.615-1.497c0,0,0,0-0.001,0c-1.086,0-2.064,0.559-2.616,1.496L0.458,36.425	c-0.551,0.936-0.559,2.103-0.02,3.046S1.988,41,3.074,41h13.438C15.58,40.908,14.732,40.392,14.262,39.569z M2.182,37.44h0.01H2.182	z"></path>
                        <path fill="#00bfa5" d="M47.65,36.641L33.478,12.562c-0.53-0.9-1.469-1.437-2.513-1.437c-1.044,0-1.984,0.537-2.514,1.437	l-2.396,4.071l2.321,3.943l2.589-4.398L43,37h-5c0.258,0.802,0.151,1.724-0.276,2.471C37.185,40.414,36.086,41,35,41l0,0	c0.001,0.013-0.001-0.013,0,0h10c1.043,0,2.149-0.525,2.667-1.431C48.186,38.664,48.179,37.542,47.65,36.641z"></path>
                        <path fill="#00838f" d="M38,37c-0.068-0.21-0.182-0.381-0.296-0.575l-9.328-15.849l-2.321-3.943l-2.321,3.943l-9.455,16.065	c0,0,0,0.001,0,0.001c-0.067,0.113-0.101,0.238-0.151,0.358c-0.347,0.829-0.32,1.778,0.134,2.569c0.47,0.822,1.318,1.338,2.25,1.431	h18.576c1.086,0,2.096-0.586,2.635-1.529C38.151,38.724,38.258,37.802,38,37z M26.055,24.519L33.401,37H18.71L26.055,24.519z"></path>
                    </svg>
                </li>
                <!--pinia-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="PINIA">
                    <svg class="h-16" viewBox="0 0 319 477" width="319" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <linearGradient id="a">
                            <stop offset="0" stop-color="#52ce63"></stop>
                            <stop offset="1" stop-color="#51a256"></stop>
                        </linearGradient>
                        <linearGradient id="b" x1="55.342075%" x2="42.816933%" xlink:href="#a" y1="0%" y2="42.862855%"></linearGradient>
                        <linearGradient id="c" x1="55.348642%" x2="42.808103%" xlink:href="#a" y1="0%" y2="42.862855%"></linearGradient>
                        <linearGradient id="d" x1="50%" x2="50%" y1="0%" y2="58.811243%">
                            <stop offset="0" stop-color="#8ae99c"></stop>
                            <stop offset="1" stop-color="#52ce63"></stop>
                        </linearGradient>
                        <linearGradient id="e" x1="51.37763%" x2="44.584719%" y1="17.472551%" y2="100%">
                            <stop offset="0" stop-color="#ffe56c"></stop>
                            <stop offset="1" stop-color="#ffc63a"></stop>
                        </linearGradient>
                        <g fill="none" fill-rule="evenodd" transform="translate(-34 -24)">
                            <g transform="matrix(.99254615 .12186934 -.12186934 .99254615 33.922073 .976691)">
                                <path d="m103.950535 258.274149c44.361599-4.360825 60.014503-40.391282 65.353094-94.699444s-30.93219-103.451001-46.020347-101.9678079c-15.088156 1.4831932-63.0385313 58.9051239-68.3771222 113.2132869-5.3385908 54.308162 4.6827754 87.814791 49.0443752 83.453965z" fill="url(#b)" transform="matrix(.70710678 -.70710678 .70710678 .70710678 -80.496332 125.892944)"></path>
                                <path d="m275.876752 258.273992c44.3616 4.360826 53.167133-29.265322 47.828542-83.573485-5.338591-54.308162-52.073133-111.6105744-67.16129-113.0937675-15.088156-1.4831931-52.57477 47.5401275-47.236179 101.8482895s22.207328 90.458137 66.568927 94.818963z" fill="url(#c)" transform="matrix(.70710678 .70710678 -.70710678 .70710678 191.403399 -141.861963)"></path>
                                <path d="m188.370027 216.876305c39.941834 0 50.95265-38.251987 50.95265-97.89874 0-59.6467532-37.367733-118.10125956-50.95265-118.10125956s-52.04735 58.45450636-52.04735 118.10125956c0 59.646753 12.105516 97.89874 52.04735 97.89874z" fill="url(#d)"></path>
                            </g>
                            <path d="m184.473473 501c83.118854 0 150.526527-24.145148 150.526527-133.645148s-67.407673-199.354852-150.526527-199.354852c-83.118855 0-150.473473 89.854852-150.473473 199.354852s67.354618 133.645148 150.473473 133.645148z" fill="url(#e)"></path>
                            <ellipse cx="260.5" cy="335" fill="#eaadcc" rx="21.5" ry="10"></ellipse>
                            <ellipse cx="102.5" cy="329" fill="#eaadcc" rx="21.5" ry="10" transform="matrix(.99254615 .12186934 -.12186934 .99254615 40.859033 -10.039292)"></ellipse>
                            <g transform="matrix(-.99939083 .0348995 .0348995 .99939083 269.284825 271.027667)">
                                <path d="m73.1046985 58.2728794c6.7372416 4.9130333 14.3132632 6.6640587 22.7280649 5.2530761 8.4148016-1.4109825 14.5054466-5.2535769 18.2719346-11.527783" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" transform="matrix(.9998477 .01745241 -.01745241 .9998477 1.026464 -1.624794)"></path>
                                <path d="m154.501124 3c-5.937545 0-11.312782 2.40629805-15.203644 6.29680621-3.89094 3.89058529-6.29748 9.26545449-6.29748 15.20263179 0 5.9376888 2.406488 11.3127422 6.297291 15.2034272 3.890886 3.8907673 9.266197 6.2971348 15.203833 6.2971348 5.937109 0 11.311896-2.4063889 15.202387-6.2972348 3.890299-3.8906535 6.296489-9.2656636 6.296489-15.2033272 0-5.9371521-2.406242-11.3119781-6.296677-15.20253181-3.890469-3.89058674-9.265181-6.29690619-15.202199-6.29690619z" fill="#000"></path>
                                <path d="m154 21c0-3.865549 3.135362-7 6.999413-7 3.866399 0 7.000587 3.134451 7.000587 7s-3.134188 7-7.000587 7c-3.864051-.0011735-6.999413-3.134451-6.999413-7z" fill="#fff"></path>
                                <path d="m24.5 13c-5.9375292 0-11.312426 2.406268-15.20299427 6.2967181-3.89069464 3.8905765-6.29700573 9.2654765-6.29700573 15.2027199 0 5.9377549 2.40625962 11.3128391 6.29681766 15.2035153 3.89059104 3.8907092 9.26556184 6.2970467 15.20318234 6.2970467 5.9371249 0 11.3122514-2.406419 15.2030371-6.2973229 3.8905441-3.8906623 6.2969629-9.2656416 6.2969629-15.2032391 0-5.937086-2.4064703-11.3118811-6.297151-15.2024437-3.890763-3.8906448-9.2658154-6.2969943-15.202849-6.2969943z" fill="#000"></path>
                                <g fill="#fff"><path d="m136 24.499438c0 10.2185232 8.282911 18.500562 18.501124 18.500562 10.217089 0 18.498876-8.2820388 18.498876-18.500562 0-10.2173992-8.281787-18.499438-18.498876-18.499438-10.218213 0-18.501124 8.2820388-18.501124 18.499438zm-6 0c0-13.5311954 10.96929-24.499438 24.501124-24.499438 13.530838 0 24.498876 10.9683711 24.498876 24.499438 0 13.5319607-10.967808 24.500562-24.498876 24.500562-13.532064 0-24.501124-10.9684728-24.501124-24.500562z" fill-rule="nonzero" stroke="#fff" stroke-width="3"></path>
                                    <path d="m6 34.499438c0 10.2185232 8.2817873 18.500562 18.5 18.500562 10.2170889 0 18.5-8.2820388 18.5-18.500562 0-10.2173992-8.2829111-18.499438-18.5-18.499438-10.2182127 0-18.5 8.2820388-18.5 18.499438zm-6 0c0-13.531297 10.9682681-24.499438 24.5-24.499438 13.5309398 0 24.5 10.9684728 24.5 24.499438 0 13.5318591-10.96883 24.500562-24.5 24.500562-13.531962 0-24.5-10.9683711-24.5-24.500562z" fill-rule="nonzero" stroke="#fff" stroke-width="3"></path>
                                    <path d="m24 31c0-3.865549 3.134451-7 7-7s7 3.134451 7 7-3.134451 7-7 7-7-3.134451-7-7z"></path>
                                </g>
                            </g>
                            <g stroke-linecap="round" stroke-width="11">
                                <g stroke="#ecb732">
                                    <path d="m70.5 377.5 74 77"></path>
                                    <path d="m134.5 386.5-47 50"></path>
                                </g>
                                <g stroke="#ecb732" transform="matrix(-1 0 0 1 298 377)">
                                    <path d="m.5.5 74 77"></path>
                                    <path d="m64.5 9.5-47 50"></path>
                                </g>
                                <g stroke="#ffc73b" transform="matrix(0 1 -1 0 215 207)">
                                    <path d="m.5.5 49 49"></path>
                                    <path d="m.5 10.5 49 49" transform="matrix(-1 0 0 1 50 0)"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </li>
                <!--github-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="GITHUB">
                    <svg class="h-16 fill-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"></path>
                    </svg>
                </li>
                <!--astro-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="ASTRO">
                    <svg class="h-14" viewBox="0 0 85 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z" fill="white"/>
                        <path d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z" fill="url(#paint0_linear_1_59)"/>
                        <path d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z" fill="white"/>
                        <defs>
                            <linearGradient id="paint0_linear_1_59" x1="22.4702" y1="107" x2="69.1451" y2="84.9468" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#D83333"/>
                                <stop offset="1" stop-color="#F041FF"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </li>
                <!--seo-->
                <li class="flex-[1] h-20 rounded-lg border border-gray-600 min-w-24 flex items-center justify-center" title="SOE">
                    <Image src={SeoImage} alt="SEO" class="h-16 w-auto" />
                </li>
            </ul>
        </div>

        <!-- experiences -->
        <div class="mt-16 container">
            <h1 class="text-gray-100 text-2xl"> My Experiences </h1>
            <ul class="list-none mt-4 relative before:absolute before:content-[''] before:bg-gray-600 before:top-0 before:w-px before:h-full pl-2">
                {experiencesList.map((experience, index) => (
                    <li class="pl-6 mt-10 first:mt-0">
                        <Experience experience={experience} reverse={index%2 == 0} />
                    </li>
                ))}
            </ul>
        </div>

        <!--modal layer-->
        <div class="fixed hidden top-0 left-0 size-full bg-gray-900/50" id="exp-layer"></div>

        <!-- modal content-->
        <div class="fixed hidden z-[1] top-0 left-0 size-full bg-gray-800 lg:rounded-lg p-4 overflow-auto" id="exp-content">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 absolute top-4 right-4 text-gray-200 cursor-pointer" onclick="closeModal()">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <h2 class="text-gray-200 text-xl pr-10"></h2>
            <p class="text-gray-400 text-base leading-7 tracking-wide mt-4"></p>

            <ul class="list-none flex items-center gap-2 flex-wrap mt-10"></ul>
            <a href="#" class="mx-auto inline-flex items-center rounded-md bg-indigo-400 hover:bg-indigo-500 transition-all h-10 text-gray-100 text-lg px-10 mt-6" target="_blank"> Demo </a>
        </div>
    </main>
</Layout>

<script>

    const hideElement = (id) => {
        const elem = document.getElementById(id);
        elem.classList.add("hidden");
    }

    window.closeModal = () => {
        hideElement("exp-content");
        hideElement("exp-layer");
    }

</script>